// > colours
  $col-prim-a:hsl(225, 100%, 94%);
  $col-prim-b: hsl(245, 75%, 52%);
  $col-prim-c:hsl(244, 77.8%, 68.2%);

  $col-neu-a: hsl(225, 100%, 98%);
  $col-neu-b: hsl(224, 23%, 55%);
  $col-neu-c: hsl(223, 47%, 23%);

// > fonts
  $font-fam-main: 'Poppins', sans-serif;
  
  $font-size-base: 16px;
  $font-size-a: 1.5rem;
  $font-size-b: 0.9rem;
  $font-size-c: 0.8rem;
  $font-size-d: 0.7rem;
  
  $font-wei-a: 700;
  $font-wei-b: 500;
  $font-wei-c: 400;

// > spacing
  $spacing-a: 3rem;
  $spacing-b: 1.5rem;
  $spacing-c: 0.9rem;
  $spacing-d: 7rem;

// > sizing
  $sizing-a: 26rem;
  $sizing-b: 2.3rem;

// > other
  $media-min-width: 25rem;
  $media-max-width: 20rem;